<div class="row">
  <div class="row">
    <form action="/movies/search" method="GET" class="form-inline my-2 my-lg-0">
      <div class="form-group">
        <input style="width:300px" class="form-control mr-sm-2 side" type="search" name="movie"
          placeholder="Buscar pelicula" aria-label="Search" autofocus>
        <button data-toggle="tooltip" title="Buscar" class="btn btn-outline-dark my-2 my-sm-0" type="submit"><i
            class="fas fa-search"></i></button>
      </div>
    </form>
    <hr>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-9.5">
    <a class="btn btn-light" href="/">Mostrar peliculas</a>
    <a class="btn btn-light" href="/movies/add">Añadir pelicula</a>
    <a class="btn btn-light" href="/movies/all_movies/1">Todas las peliculas</a>
    <table class="table table-hover table-light">
      <thead>
        <tr>
          <th scope="col"> <a href="/"></a> Peliculas
          </th>
        </tr>
        <tr>
          <th scope="col"> Titulo</th>
          <th></th>
          <th scope="col"> Tiempo de adición</th>

        </tr>
      </thead>
      <tbody>
        <script>
          const user = '{{user.id}}';


        </script>
        {{#if searchmovie}}
          {{#each searchmovie}}
          

        <tr>
          <td>{{title}}</td>
          <td><img style="height: 2rem; width: 1.5rem;" src="/upload/{{filename}}"></td>
          <td>{{timeago date_add}}
          <td>
            <script>
              if (user == '{{user}}') {
                document.write('<a data-toggle="tooltip" title="Editar peliula" href="/movies/edit_movie/{{_id}}"><i class="fas fa-edit"></a></i>');
                document.write('<a data-toggle="tooltip" href="/movies/{{title}}" title="Mostrar pelicula"><span style="color: green;"><i class="fas fa-film"></i></span></a>');
                document.write('<a data-toggle="tooltip" title="Añadir links" href="/movies/links_view/{{_id}}"><i  class="fas fa-plus"></a></i>');
                document.write('<a data-toggle="tooltip" title="Añadir descargas" href="/movies/links_download/{{_id}}"><i  class="fas fa-download"></a></i>');
              } else {
                document.write('<a data-toggle="tooltip" title="No puedes editar esta peliula" ><span style="color: gray;"><i class="fas fa-edit"></span></a></i>');
                document.write('<a data-toggle="tooltip" href="/movies/{{title}}" title="Mostrar pelicula"><span style="color: green;"><i class="fas fa-film"></i></span></a>');
              }

            </script>



          </td>
        </tr>
      </tbody>
      {{/each}}
    </table>
        <center><a class="btn btn-dark" href="/movies/all_movies/1">Volver</a></center>
        {{else}}


        

        {{#if moviesp}}

        {{#each moviesp}}

        <tr>
          <td>{{title}}</td>
          <td><img style="height: 2rem; width: 1.5rem;" src="/upload/{{filename}}"></td>
          <td>{{timeago date_add}}
          <td>
            <script>
              if (user == '{{user}}') {
                document.write('<a data-toggle="tooltip" title="Editar peliula" href="/movies/edit_movie/{{_id}}"><i class="fas fa-edit"></a></i>');
                document.write('<a data-toggle="tooltip" href="/movies/{{title}}" title="Mostrar pelicula"><span style="color: green;"><i class="fas fa-film"></i></span></a>');
                document.write('<a data-toggle="tooltip" title="Añadir links" href="/movies/links_view/{{_id}}"><i  class="fas fa-plus"></a></i>');
                document.write('<a data-toggle="tooltip" title="Añadir descargas" href="/movies/links_download/{{_id}}"><span style="color: green;"><i class="fas fa-download"></i></span></a>');
              } else {
                document.write('<a data-toggle="tooltip" title="No puedes editar esta peliula" ><span style="color: gray;"><i class="fas fa-edit"></span></a></i>');
                document.write('<a data-toggle="tooltip" href="/movies/{{title}}" title="Mostrar pelicula"><span style="color: green;"><i class="fas fa-film"></i></span></a>');
              }

            </script>



          </td>
        </tr>
      </tbody>
      {{/each}}
    </table>
    {{else}}

    {{/if}}

    {{#if page}}

    <!--Paginacion-->
    <nav class="mx-auto">
      <ul class="pagination nav justify-content-center" id="pagination">

        <script>
          //Primera pagina
          if ({{ page }} == 1) {
            var li = '<li class="page-item disabled "><a href="#" class="page-link navbar-dark bg-dark side">Inicio</a></li>';
            document.getElementById('pagination').innerHTML += li;
          }else {
            var li = '<li class="page-item"><a href="/movies/all_movies/1" class="page-link navbar-dark bg-dark side" style="color: white;">Inicio</a></li>';
            document.getElementById('pagination').innerHTML += li;
          }

          //Paginas
          var i = (Number({{ page }}) > 5 ? Number({{ page }}) - 4 : 1);
          if (i !== 1) {
            var li = '<a href="#" class="page-link navbar-dark bg-dark side">...</a>';
            document.getElementById('pagination').innerHTML += li;
          }
          for (; i <= Number({{ page }}) + 4 && i <= {{ num_pages }}; i++) {
            if (i == {{ page }}) {
            var li = '<li class="page-item disabled "><a href="/' + i + '" class="navbar-dark bg-dark side page-link navbar-dark bg-dark side">' + i + '</a></li>';
            document.getElementById('pagination').innerHTML += li;
          }else {
            var li = '<li class="page-item"><a href="/movies/all_movies/' + i + '" class="page-link navbar-dark bg-dark side" style="color: white;">' + i + '</a></li>';
            document.getElementById('pagination').innerHTML += li;
          }
          if (i == Number({{ page }}) + 4 && i < {{ num_pages }}) {
            var li = '<li class="page-item"><a href="" class="page-link">...</a></li>';
            document.getElementById('pagination').innerHTML += li;
          }
			}
          //Ultima pagina
          if ({{ num_pages }} == {{ page }}) {
            var li = '<li class="page-item disabled"><a href="#"  class="page-link navbar-dark bg-dark side">Fin</a></li>';
            document.getElementById('pagination').innerHTML += li;
          }else {
            var li = '<li class="page-item"><a href="/movies/all_movies/{{num_pages}}" style="color: white;" class="page-link navbar-dark bg-dark side">Fin</a></li>';
            document.getElementById('pagination').innerHTML += li;
          }
        </script>
      </ul>
    </nav>
    {{/if}}
    <br>
      </div>
  <div class="col">
    <h2>Más vistas</h2>
    <hr>
    <!--Porcentaje para grafio de me gusta y vistas-->
    {{#each movies}}

    <b>{{title}}</b><br>
    <a data-toggle="tooltip" href="/movies/{{title}}" title="{{title}}">
      <img style="height: 3rem; width: 2rem;" src="/upload/{{filename}}">
    </a><br>
    <div style="height: 0.5rem; width: {{views}}; background-color:gray"></div>{{views}} Vistas
    <hr>
    {{/each}}
  </div>
</div>

    {{/if}}
    <!--Paginación -->


<!-- Modal editar -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
  document.title = 'Peliculas';
  $(document).ready(function () {
    $('[data-toggle="tooltip"]').tooltip();

  });
</script>