<h1>Reportes de peliculas </h1>
<a class="btn btn-dark" href="/">ir a peliculas</a>
<hr>
    <div class="col-9">
        <table class="table table-hover table-light">
            {{#if reports}}
            <thead>
                <tr></th>
                </tr>
                <tr>
                    <th scope="col-2.5"> Pelicula</th>
                </tr>
            </thead>
            <tbody>

                
                {{#each reports}}
                <tr>
                    <td>{{title}}</td>
                    <td>
                        <a href="/movies/{{title}}" class="btn btn-light" > Ir a pelicula</a>
                        <a href="/users/show_user/{{user_id}}" class="btn btn-light" > Ver usuario</a>
                        <button class="btn btn-light" data-toggle="modal" data-target="#detalle" onclick="getElementById('user').innerHTML='{{user_name}}'; getElementById('date').innerHTML='{{timeago date_add}}'; getElementById('title').innerHTML='{{title}}'; getElementById('report').innerHTML='{{report}}' "> Detalle reporte</button>
                         <form action="/movies/delete_report/{{_id}}?_method=DELETE" method="POST">
                                 <input type="hidden" name="_method" value="PUT">
                                 <input type="hidden" name="admin" id="admin" value="{{admin_id}}">
                                <button class="btn btn-success" type="submit"><i class="fas fa-check"></i> Ya se soluciono</button>
                         </form>
                        
                    </td>
                </tr>
            </tbody>
            {{/each}}
        </table>
        {{else}}


        <h3>Actualmente no hay reporte de sus peliculas :)</h3>

        {{/if}}

       
      <!-- Modal reportar pelicula -->
            <div class="modal fade" id="detalle" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Detalle de reporte </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        
                            <div class="modal-body">
                                <div class="form-group">
                                    <b><span>Pelicula: </span></b><span id="title"></span><br>
                                    <b><span id="fec">Fecha de reporte: </span ></b>Reporte creado <span id="date"></span><br>
                                    <b><span id="fec">Usuario: </span ></b><span id="user"></span><br>
                                    <hr>
                                    <label>El usuario reporta lo siguiente:</label><br>

                                        <span id="report"></span>
                                </div>
                            </div>
                            <div class="modal-footer">
                               <button type="button" class="btn btn-dark" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>  
    <!--Paginación -->


    <!-- Modal editar -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        document.title = 'Peliculas';
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
   
                                
        });
    </script>