<div class="row">
  <div class="col-9 card side">
    <div class="row">
      <div class="col-md-9">
        {{#if user}}
        <script>
          if ('{{user.id}}' == '{{movie.user}}') {
            document.write('<hr>');
            document.write('<a type="button" class="btn btn-dark" data-toggle="tooltip" title="Editar peliula" href="/movies/edit_movie/{{movie.id}}"><i class="fas fa-edit"></i> Editar esta pelicula</a>');
          }
        </script>
        {{/if}}
        <hr>
        <h3>{{movie.title}} ({{movie.year}})</h3>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <img style="width:100%; height:100%; " src="/upload/{{movie.filename}}">

      </div>
      <div class="col-md-8">
        <span><b>Sinopsis</b></span>
        <p>{{movie.description}}</p>
        <hr>
        <button class="btn btn-block btn-dark" data-toggle="modal" data-target="#modal_trailer">TRAILER</button>
        <hr>
        <span><b>Genero:</b> {{movie.category}}</span><br>
        <span><b>Duración:</b> {{movie.duration}}</span><br>
        <span><b>Año de lanzamiento:</b> {{movie.year}}</span><br>
        <span> <i class="fas fa-thumbs-up"></i> {{movie.likecount}} </span> • <i class="fas fa-eye"></i> {{movie.views}}
        vistas<br>
        <div class="row">
          {{#if user}}
          <div class="col-md-2.5">
            <script>
              if ('{{movie.likes}}'.includes('{{user.id}}') == true) {
                document.write('<form action="/movies/remove_like/{{movie._id}}?_method=DELETE" method="POST">');
                document.write('<input type="hidden" name="id_user" id="id_user" value="{{user.id}}">');
                document.write(' <button type="submit" class="btn btn-dark"><i class="far fa-thumbs-up"></i> Me gusta </button>');
                document.write('</form>');
              } else {
                document.write('<form action="/movies/add_like/{{movie._id}}?_method=PUT" method="POST">');
                document.write('<input type="hidden" name="id_user" id="id_user" value="{{user.id}}">');
                document.write(' <button type="submit" class="btn btn-light"><i class="far fa-thumbs-up"></i> Me gusta </button>');
                document.write('</form>');
              }; 
            </script>
          </div>
          <div class="col-md-4">
            <script>
              if ('{{movie.addtomylist}}'.includes('{{user.id}}') == true) {
                document.write('<form action="/movies/remove_mylist/{{movie._id}}?_method=DELETE" method="POST">');
                document.write('<input type="hidden" name="id_user" id="id_user" value="{{user.id}}">');
                document.write('<button type="submit"  class="btn btn-dark"><i class="fas fa-minus"></i> Quitar de mi lista</button>');
                document.write('</form>');

              } else {
                document.write('<form action="/movies/add_mylist/{{movie._id}}?_method=PUT" method="POST">');
                document.write('<input type="hidden" name="id_user" id="id_user" value="{{user.id}}">');
                document.write('<button type="submit"  class="btn btn-light"><i class="fas fa-plus"></i> Agregar a mi lista</button>');
                document.write('</form>');

              };
            </script>
          </div>
          <div class="col-md-4">
            <button class="btn btn-danger" data-toggle="modal" data-target="#modal_reporte"><i class="fas fa-angry"></i>
              Reportar pelicula</button>
          </div>
          {{/if}}
        </div>
      </div>

      <div class="row">
        <hr>
        <div class="col">
          <div class="p-5">
            <h3>Opciones para ver online</h3>
            <hr>
            {{#if links}}
           
            {{#each links}}

            <button class="btn btn-dark" type="button" data-toggle="collapse" data-target="#a{{_id}}"
              aria-expanded="false" aria-controls="collapseExample">
              Opcion {{server}}
            </button>
            <div class="collapse" id="a{{_id}}">
              <div class="card card-body">
                <br>
                 <iframe src="{{link}}" frameborder="0"
                marginwidth="0" marginheight="0" scrolling="no" height="300"  allowfullscreen></iframe>
                <br>
              </div>
            </div>

            {{/each}}

            {{else}}
              <h4 style="color: grey;">Lo sentimos, en el momento no hay opciones para ver online</h4>
            {{/if}}

            <hr>
            <h3>Opciones para descargar</h3>
             <p>No olvides visitar nuestro post <a class="link" data-toggle="tooltip" href="/posts/download_movies"> "Como
                descargar peliculas"</a> para tener otra opción. <i class="fas fa-grin-wink"></i></p>

                {{#if linksd}}
                {{#each linksd}}
                  <a href="{{link}}" class="btn btn-dark" target="_blank">Descarga {{server}}</a>
                {{/each}}
                {{else}}
                  <h4 style="color: grey;">Lo sentimos, en el momento no hay opciones para descargas</h4>
                {{/if}}
          </div>

          <hr>


        </div>

      </div>
    </div>

  </div>


  <div class="col-3">
    <h5>Quizá te puedan interesar estas peliculas:</h5>
    <hr>
    {{#each movies}}
    <a href="/movies/{{title}}">
      <div class="div-imagen" style="margin-bottom: 20px; margin-right: 10px;  ">

        <img class="desvanecer" style="border-radius: 10px 10px 10px 10px;
          -moz-border-radius: 10px 10px 10px 10px;
          -webkit-border-radius: 10px 10px 10px 10px;
          border: 0px solid #000000; height: 6rem; width: 4rem;
          " src="/upload/{{filename}}" />

      </div>

    </a>

    {{/each}}
    		<div>
			<div class="side p-2" style="background:#212121; opacity: 0.8;">
				<span style="color:white">Redes sociales</span>
			</div>
			<hr>
			<div>
				<a data-toggle="tooltip" title="{{title}}" href="/movies/{{uniqueId}}">
					<img style=" height: 4rem; width: 4rem;" src="/img/facebook.png" /></a>
				<a href="https://www.whatsapp.com/?lang=es"><img style=" height: 4rem; width: 4rem;"
						src="/img/descarga.png" /></a>

			</div>

		</div>
		<br>
		<div>
			<div class="side p-2" style="background:#212121; opacity: 0.8;">
				<span style="color:white">Te puede interesar:</span>
			</div>
			<hr>
			<div>
				<a class="link"  data-toggle="tooltip" href="/posts/download_movies">Como descargar peliculas</a><br>
				<a class="link" href="https://www.whatsapp.com/?lang=es">Descifrar redes wifi</a>

			</div>

		</div>
  </div>

</div>









<!-- Button trigger modal -->

<!-- Modal trailer -->
<div class="modal fade" id="modal_trailer" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Trailer pelicula: {{movie.title}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{{movie.trailer}}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal reportar pelicula -->
<div class="modal fade" id="modal_reporte" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Reportar pelicula: {{movie.title}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/movies/add_report" method="POST" enctype="multipart/form-data">
        <div class="modal-body">
          <input type="hidden" name="title" id="title" value="{{movie.title}}">
          <input type="hidden" name="user_id" id="user_id" value="{{user.id}}">
          <input type="hidden" name="user_name" id="user_name" value="{{user.name}}">
          <input type="hidden" name="admin_id" id="admin_id" value="{{movie.user}}">
          <div class="form-group">
            <label>Descripción del problema *</label><br>
            <textarea class="form-control" id="report" rows="4" name="report"
              placeholder="A continuación describa el problema que desea reportar, uno de nuestros administradores lo resolvera en seguida."
              required></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-danger">Enviar reporte</button>
      </form>
      <button type="button" class="btn btn-dark" data-dismiss="modal">Cerrar</button>
    </div>
  </div>
</div>
</div>

<script>
  document.title = '{{{movie.title}}}';
</script>