<div class="row">
	<script>
		if(screen.width<1000){
			document.write('<div class="row card side">');
		}else{
			document.write('<div class="col-9 card side">');
		}
	</script>
    <div class="row">
      <div class="col-md-9">
        {{#if user}}
        <script>
          if ('{{user.id}}' == '{{movie.user}}') {
            document.write('<hr>');
            document.write('<a type="button" class="btn btn-dark" data-toggle="tooltip" title="Editar peliula" href="/movies/edit_movie/{{movie.id}}"><i class="fas fa-edit"></i> Editar esta pelicula</a>');
          }
        </script>
        {{/if}}
        <hr>
        <h3>{{movie.title}} ({{movie.year}})</h3>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
	{{#if movie.filename}}
        <img style="width:100%;" src="/upload/{{movie.filename}}">
	{{else}}
	<img style="width:100%;" src="{{movie.imageURL}}">
	{{/if}}
      </div>
      <div class="col-md-8">
        <span><b>Sinopsis</b></span>
        <p>{{movie.description}}</p>
        <hr>
        <button class="btn btn-block btn-dark" data-toggle="modal" data-target="#modal_trailer">TRAILER</button>
        <hr>
        <span><b>Genero:</b> {{movie.category}}</span><br>
        <span><b>Duración:</b> {{movie.duration}}</span><br>
        <span><b>Año de lanzamiento:</b> {{movie.year}}</span><br>
        <span> <i class="fas fa-thumbs-up"></i> {{movie.likecount}} </span> • <i class="fas fa-eye"></i> {{movie.views}}
        vistas<br>
        <div class="row">
          {{#if user}}
          <div class="col-md-2.5">
            <script>
              if ('{{movie.likes}}'.includes('{{user.id}}') == true) {
                document.write('<form action="/movies/remove_like/{{movie._id}}?_method=DELETE" method="POST">');
                document.write('<input type="hidden" name="id_user" id="id_user" value="{{user.id}}">');
                document.write(' <button type="submit" class="btn btn-dark"><i class="far fa-thumbs-up"></i> Me gusta </button>');
                document.write('</form>');
              } else {
                document.write('<form action="/movies/add_like/{{movie._id}}?_method=PUT" method="POST">');
                document.write('<input type="hidden" name="id_user" id="id_user" value="{{user.id}}">');
                document.write(' <button type="submit" class="btn btn-light"><i class="far fa-thumbs-up"></i> Me gusta </button>');
                document.write('</form>');
              }; 
            </script>
          </div>
          <div class="col-md-4">
            <script>
              if ('{{movie.addtomylist}}'.includes('{{user.id}}') == true) {
                document.write('<form action="/movies/remove_mylist/{{movie._id}}?_method=DELETE" method="POST">');
                document.write('<input type="hidden" name="id_user" id="id_user" value="{{user.id}}">');
                document.write('<button type="submit"  class="btn btn-dark"><i class="fas fa-minus"></i> Quitar de mi lista</button>');
                document.write('</form>');

              } else {
                document.write('<form action="/movies/add_mylist/{{movie._id}}?_method=PUT" method="POST">');
                document.write('<input type="hidden" name="id_user" id="id_user" value="{{user.id}}">');
                document.write('<button type="submit"  class="btn btn-light"><i class="fas fa-plus"></i> Agregar a mi lista</button>');
                document.write('</form>');

              };
            </script>
          </div>
          <div class="col-md-4">
            <button class="btn btn-danger" data-toggle="modal" data-target="#modal_reporte"><i class="fas fa-angry"></i>
              Reportar pelicula</button>
          </div>
          {{/if}}
        </div>
      </div>

      <div class="row">
        <hr>
        <div class="col">
          <div class="p-5">
            <h3>Opciones para ver online</h3>
            <hr>
            {{#if links}}
           
            {{#each links}}

             <script>
              if('{{server}}' == 'mega'){
                document.write('<button class="btn btn-danger" type="button" data-toggle="collapse" data-target="#a{{_id}}" aria-expanded="false" aria-controls="collapseExample"> Opcion {{server}}</button>');
              }
              if('{{server}}' == 'fembed'){
                document.write('<button class="btn fembed" type="button" data-toggle="collapse" data-target="#a{{_id}}" aria-expanded="false" aria-controls="collapseExample"> Opcion {{server}}</button>');
              }
              if('{{server}}' == 'uqload'){
                document.write('<button class="btn btn-info" type="button" data-toggle="collapse" data-target="#a{{_id}}" aria-expanded="false" aria-controls="collapseExample"> Opcion {{server}}</button>');
              }
              if('{{server}}' == 'jetload'){
                document.write('<button class="btn jetload" type="button" data-toggle="collapse" data-target="#a{{_id}}" aria-expanded="false" aria-controls="collapseExample"> Opcion {{server}}</button>');
              } 
              if('{{server}}' == 'gounlimited'){
                document.write('<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#a{{_id}}" aria-expanded="false" aria-controls="collapseExample"> Opcion {{server}}</button>');
              }       
              if('{{server}}' == 'netu'){
                document.write('<button class="btn netu" type="button" data-toggle="collapse" data-target="#a{{_id}}" aria-expanded="false" aria-controls="collapseExample"> Opcion {{server}}</button>');
              }
              if('{{server}}' == 'pplusplayer'){
                document.write('<button class="btn pr" type="button" data-toggle="collapse" data-target="#a{{_id}}" aria-expanded="false" aria-controls="collapseExample"> Opcion {{server}}</button>');
              }          
            </script>
            <div class="collapse" id="a{{_id}}">
              <div class="card card-body">
                <br>
                 <iframe src="{{link}}" frameborder="0"
                marginwidth="0" marginheight="0" scrolling="no" height="300"  allowfullscreen></iframe>
                <br>
              </div>
            </div>

            {{/each}}

            {{else}}
              <h4 style="color: grey;">Lo sentimos, en el momento no hay opciones para ver online</h4>
            {{/if}}

            <hr>
            <h3>Opciones para descargar</h3>
             <p>No olvides visitar nuestro post <a class="link" data-toggle="tooltip" href="/posts/download_movies"> "Como
                descargar peliculas"</a> para tener otra opción. <i class="fas fa-grin-wink"></i></p>

                {{#if linksd}}
                {{#each linksd}}
                  <script>
                  if('{{server}}' == 'pr'){
                document.write('<button class="btn pr" type="button" data-toggle="collapse" data-target="#a{{_id}}" aria-expanded="false" aria-controls="collapseExample"> Opcion {{server}}</button>');
              }  
                  if('{{server}}' == 'Mega'){
                    document.write('<a href="{{link}}" class="btn btn-danger" target="_blank">Descarga {{server}}</a>');
                  }
                  if('{{server}}' == 'Torrent'){
                    document.write('<a href="{{link}}" class="btn btn-success" target="_blank">Descarga {{server}}</a>');
                  }
                  if('{{server}}' == 'fembed'){
                    document.write('<a href="{{link}}" class="btn fembed" target="_blank">Descarga {{server}}</a>');
                  }
                  if('{{server}}' == 'uqload'){
                    document.write('<a href="{{link}}" class="btn btn-info" target="_blank">Descarga {{server}}</a>');
                  }
                  if('{{server}}' == 'Jetload'){
                    document.write('<a href="{{link}}" class="btn jetload" target="_blank">Descarga {{server}}</a>');
                  }
                  if('{{server}}' == 'Gounilimited'){
                    document.write('<a href="{{link}}" class="btn btn-primary" target="_blank">Descarga {{server}}</a>');
                  }
                  if('{{server}}' == 'Netu'){
                    document.write('<a href="{{link}}" class="btn netu" target="_blank">Descarga {{server}}</a>');
                  }
                  if('{{server}}' == '1Fichier'){
                    document.write('<a href="{{link}}" class="btn ficher" target="_blank">Descarga {{server}}</a>');
                  }
                  if('{{server}}' == 'Turbobit'){
                    document.write('<a href="{{link}}" class="btn turbo" target="_blank">Descarga {{server}}</a>');
                  }
                </script>
                {{/each}}
                {{else}}
                  <h4 style="color: grey;">Lo sentimos, en el momento no hay opciones para descargas</h4>
                {{/if}}
          </div>
	          {{#if wallpaper}}

				<style>body{background-image: url({{wallpaper.imageURL}});
                    background-position: top;
                    background-attachment: fixed;
                    background-size: cover;}.slider, .navegation, .dest{display: none;}
                    
        </style>;
				
          {{/if}}

	  <hr>
		          <script>
            var secuela = '{{{movie.secuela}}}';
          </script>
	{{#if wallpaper}}
            <img src="{{wallpaper.secuela}}" alt="">
          {{/if}}
<div class="p-3">
          {{#if movie.secuela}}
          <script>
            document.write('<h4>Saga '+secuela+'</h4>')
          </script>
          {{#each sec}}
            		<a data-toggle="tooltip" title="{{title}}" href="/movies/{{title}}">
				{{#if filename}}
	
				<img class="" style="border-radius: 10px 10px 10px 10px;
				border: 0px solid #000000; height: 13rem; width: 9rem;
				" src="/upload/{{filename}}" />
			</a>
				{{else}}
				<img class="" style="border-radius: 10px 10px 10px 10px;
				border: 0px solid #000000; height: 13rem; width: 9rem;
				" src="{{imageURL}}" />
			</a>
				
{{/if}}
        {{/each}}
        {{/if}}
</div>
	<hr>


        </div>

      </div>
    </div>

  </div>

	<script>
		if(screen.width<800){
			document.write('<hr><div class="row">');
		}else{
			document.write('<div class="col-3">');
		}
	</script>
    <h5>Quizá te puedan interesar estas peliculas:</h5>
    <hr>
    <div>
    {{#each movies}}
    <a href="/movies/{{title}}">
      <div class="div-imagen" style="margin-bottom: 20px; margin-right: 10px;  ">
	{{#if filename}}
        <img class="desvanecer" style="border-radius: 10px 10px 10px 10px;
          -moz-border-radius: 10px 10px 10px 10px;
          -webkit-border-radius: 10px 10px 10px 10px;
          border: 0px solid #000000; height: 6rem; width: 4rem;
          " src="/upload/{{filename}}" />
	{{else}}
	<img class="desvanecer" style="border-radius: 10px 10px 10px 10px;
          -moz-border-radius: 10px 10px 10px 10px;
          -webkit-border-radius: 10px 10px 10px 10px;
          border: 0px solid #000000; height: 6rem; width: 4rem;
          " src="{{imageURL}}" />
	{{/if}}

      </div>

    </a>

    {{/each}}
	</div>

</div>









<!-- Button trigger modal -->

<!-- Modal trailer -->
<div class="modal fade" id="modal_trailer" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Trailer pelicula: {{movie.title}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{{movie.trailer}}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal reportar pelicula -->
<div class="modal fade" id="modal_reporte" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Reportar pelicula: {{movie.title}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/movies/add_report" method="POST" enctype="multipart/form-data">
        <div class="modal-body">
          <input type="hidden" name="title" id="title" value="{{movie.title}}">
          <input type="hidden" name="user_id" id="user_id" value="{{user.id}}">
          <input type="hidden" name="user_name" id="user_name" value="{{user.name}}">
          <input type="hidden" name="admin_id" id="admin_id" value="{{movie.user}}">
          <div class="form-group">
            <label>Descripción del problema *</label><br>
            <textarea class="form-control" id="report" rows="4" name="report"
              placeholder="A continuación describa el problema que desea reportar, uno de nuestros administradores lo resolvera en seguida."
              required></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-danger">Enviar reporte</button>
      </form>
      <button type="button" class="btn btn-dark" data-dismiss="modal">Cerrar</button>
    </div>
  </div>
</div>
</div>

<script>
  document.title = '{{{movie.title}}}';
</script>
