<div class="row">
	<div class="col-9">
	<div class="navslide">
<ul class="nav nav-pills ">
			<li class="nav-item ">
				<a style="background-color:#212121" class="nav-link active navbar-dark side" href="/category/accion">Accion</a>
			</li>
			<li class="nav-item">
				<a style="background-color:#212121" class="nav-link active navbar-dark side" href="/category/aventura">Aventura</a>
			</li>
			<li class="nav-item">
				<a style="background-color:#212121" class="nav-link active navbar-dark side" href="/category/infantil">Infantil</a>
			</li>
			<li class="nav-item">
				<a style="background-color:#212121" class="nav-link active navbar-dark side" href="/category/comedia">Comedia</a>
			</li>
			<li class="nav-item">
				<a style="background-color:#212121" class="nav-link active navbar-dark  side" href="/category/terror">Terror</a>
			</li>
			<li class="nav-item">
				<a style="background-color:#212121" class="nav-link active navbar-dark side" href="/category/suspenso">Suspenso</a>
			</li>
			<li class="nav-item">
				<a style="background-color:#212121" class="nav-link active navbar-dark side" href="/category/romance">Romance</a>
			</li>
				<li class="nav-item">
				<a style="background-color:#212121" class="nav-link active navbar-dark side" href="/category/drama">Drama</a>
			</li>
				<li class="nav-item dropdown">
    <a style="background-color:#212121" class="nav-link dropdown-toggle navbar-dark  side active" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">mas</a>
    <div style="background-color:#212121" class="dropdown-menu navbar-dark side active ">
      <a class="dropdown-item" style="background-color:#212121; color: gray; font-color:gray;" href="/category/ficcion">Cienc. ficción</a>
      <a class="dropdown-item" style="background-color:#212121;color: gray;" href="/category/animacion">Animación</a>
      <a class="dropdown-item" style="background-color:#212121;color: gray;" href="/category/crimen">Crimen</a>
	  <a class="dropdown-item" style="background-color:#212121; color: gray;" href="/category/misterio">Misterio</a>
	  <a class="dropdown-item" style="background-color:#212121; color: gray;" href="/category/fantasia">Fantasia</a>
  </li>
		</ul>
		<h3 class="d-none d-md-none d-lg-block">Agregadas recientemente</h3>
		<hr class="d-none d-md-none d-lg-block">
<div id="carouselExampleIndicators" class="carousel slide d-none d-md-none d-lg-block" data-ride="carousel">

  <div class="carousel-inner">
    <div class="carousel-item active ">
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		{{#each add1}}
			<a data-toggle="tooltip" title="{{title}}" href="/movies/{{title}}">
						{{#if filename}}
				<img class="" style="border-radius: 10px 10px 10px 10px;
				border: 0px solid #000000; height: 13rem; width: 9rem;
				" src="/upload/{{filename}}" />
			</a>
			{{else}}
				<img class="" style="border-radius: 10px 10px 10px 10px;
				border: 0px solid #000000; height: 13rem; width: 9rem;
				" src="{{imageURL}}" />
			</a>
			{{/if}}
		{{/each}}
  			
    </div>
    <div class="carousel-item">
      		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  				{{#each add2}}
			<a data-toggle="tooltip" title="{{title}}" href="/movies/{{title}}">
							{{#if filename}}
				<img class="" style="border-radius: 10px 10px 10px 10px;
				border: 0px solid #000000; height: 13rem; width: 9rem;
				" src="/upload/{{filename}}" />
			</a>
			{{else}}
				<img class="" style="border-radius: 10px 10px 10px 10px;
				border: 0px solid #000000; height: 13rem; width: 9rem;
				" src="{{imageURL}}" />
			</a>
			{{/if}}
		{{/each}}	
    </div>
    <div class="carousel-item">
      		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  		{{#each add3}}
			<a data-toggle="tooltip" title="{{title}}" href="/movies/{{title}}">
							{{#if filename}}
				<img class="" style="border-radius: 10px 10px 10px 10px;
				border: 0px solid #000000; height: 13rem; width: 9rem;
				" src="/upload/{{filename}}" />
			</a>
			{{else}}
				<img class="" style="border-radius: 10px 10px 10px 10px;
				border: 0px solid #000000; height: 13rem; width: 9rem;
				" src="{{imageURL}}" />
			</a>
			{{/if}}
		{{/each}}	
    </div>
  </div>
  <a class="carousel-control-prev rec" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next rec" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  <hr>
</div>
</div>
				
		<hr>
		{{#each moviesp}}
		<a href="/movies/{{title}}">
			<div class="div-imagen" style="margin-bottom: 20px; margin-right: 10px;  ">
				<div style="background-color: black; height: 21.5rem; padding: 10px; border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 0px solid #000000;
">

					<div class="cat"><span style="color:whitesmoke; padding: 10px; "><b>{{title}}
								({{year}})</b></span>
					</div>
					<FONT FACE="arial narrow">
						<p style="color:gray">{{description}}</p>
					</FONT>
					<div style="padding-top: 75px; color:gray;">
						<p>{{timeago date_add}} • {{views}} vistas </p>
					</div>
					<div class="cat" style=" color:whitesmoke;">{{category}}</div>

				</div>
				{{#if filename}}
						<img class="desvanecer" style="border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 0px solid #000000; height: 21.5rem; width: 15.5rem;
"src="/upload/{{filename}}" />
				{{else}}
									<img class="desvanecer" style="border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 0px solid #000000; height: 21.5rem; width: 15.5rem;
"src="{{imageURL}}" />
				{{/if}}
			</div>
		</a>
		{{/each}}
		{{#if cat}}
				<script>	
			if('{{cat}}' == 'marvel'){
				document.write('<style>body{background-image: url("/img/vanilla.jpg");background-position: center;background-repeat: no-repeat;background-attachment: fixed;background-size: cover;}.navslide, .dest{display: none;}</style>');
				document.write('<center><a href="/category/marvel"><img class="side"  src="/img/marvel_comics-logo.png"></a></center><br>');
				document.write('<center><a class="btn btn-danger" href="/category/marvel/chronology">Cronología</a>');
				document.write(' <a class="btn btn-danger" href="/category/marvel">Año de lanzamiento</a></center>');
			}
			if('{{cat}}' == 'dccomics'){
				document.write('<style>body{background-image: url("https://res.cloudinary.com/jdescargas/image/upload/v1590720982/a_ijth2g.jpg");background-position: top;background-repeat: no-repeat;background-attachment: fixed;background-size: cover;}.navslide, .dest{display: none;}</style>');
				document.write('<center><a href="/category/dccomics"><img width="70px"; height="70px"; src="https://res.cloudinary.com/jdescargas/image/upload/v1590721357/dc_comics-logo_es4tsx.png"></a></center><br><hr>');
			}
			if('{{cat}}' == 'disney'){
				document.write('<style>body{background-image: url("https://res.cloudinary.com/jdescargas/image/upload/v1591051233/img_wall/up-movie-pixar-animation-studios-movies-sky-wallpaper_viui67.jpg");background-position: top;background-repeat: no-repeat;background-attachment: fixed;background-size: cover;}.navslide, .dest{display: none;}</style>');
				document.write('<center><a href="/category/disney"><img width="150px"; height="70px"; src="https://res.cloudinary.com/jdescargas/image/upload/v1591051554/img_wall/81zGM9nzN8L_irr0pl.png"></a></center><br><hr>');
			}
			
		</script>
		<h5>Peliculas de {{cat}}</h5>
		<script>
		  document.title = 'Peliculas - {{{cat}}}';
		  </script>
		{{#each movies}}
	
		<a href="/movies/{{title}}">
			<div class="div-imagen" style="margin-bottom: 20px; margin-right: 10px;  ">
				<div style="background-color: black; height: 21.5rem; padding: 10px; border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 0px solid #000000;
">

					<div class="cat"><span style="color:whitesmoke; padding: 10px; "><b>{{title}}
								({{year}})</b></span>
					</div>
					<FONT FACE="arial narrow">
						<p style="color:gray">{{description}}</p>
					</FONT>
					<div style="padding-top: 75px; color:gray;">
						<p>{{timeago date_add}} • {{views}} vistas </p>
					</div>
					<div class="cat" style=" color:whitesmoke;">{{category}}</div>

				</div>
				{{#if filename}}
								<img class="desvanecer" style="border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 0px solid #000000; height: 21.5rem; width: 15.5rem;
" src="/upload/{{filename}}" />
				{{else}}
								<img class="desvanecer" style="border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 0px solid #000000; height: 21.5rem; width: 15.5rem;
" src="{{imageURL}}" />

				
				


				{{/if}}
			</div>
		</a>
		{{/each}}
		{{/if}}
		{{#if s}}
		{{#if movies}}
		<h5>Busqueda: {{s}}</h5>
		{{#each movies}}
		<a href="/movies/{{title}}">
			<div class="div-imagen" style="margin-bottom: 20px; margin-right: 10px;  ">
				<div style="background-color: black; height: 21.5rem; padding: 10px; border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 0px solid #000000;
">

					<div class="cat"><span style="color:whitesmoke; padding: 10px; "><b>{{title}}
								({{year}})</b></span>
					</div>
					<FONT FACE="arial narrow">
						<p style="color:gray">{{description}}</p>
					</FONT>
					<div style="padding-top: 75px; color:gray;">
						<p>{{timeago date_add}} • {{views}} vistas </p>
					</div>
					<div class="cat" style=" color:whitesmoke;">{{category}}</div>

				</div>
			{{#if filename}}
	<img class="desvanecer" style="border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 0px solid #000000; height: 21.5rem; width: 15.5rem;
" src="/upload/{{filename}}" />			
			{{else}}
	<img class="desvanecer" style="border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 0px solid #000000; height: 21.5rem; width: 15.5rem;
" src="{{imageURL}}" />		
			{{/if}}
			</div>
		</a>
		{{/each}}
		{{else}}
		<h5>Busqueda: No se encontraron peliculas :(</h5>
		{{/if}}
		{{/if}}

		<br>
{{#if page}}

<!--Paginacion-->
<nav  class="mx-auto">
	<ul  class="pagination nav justify-content-center" id="pagination">

		<script>
			//Primera pagina
			if ({{ page }} == 1) {
				var li = '<li style="background-color:#212121" class="page-item disabled "><a href="#" style="background-color:#212121; color: white;" class="page-link navbar-dark side">Inicio</a></li>';
				document.getElementById('pagination').innerHTML += li;
			}else {
				var li = '<li style="background-color:#212121" class="page-item"><a style="background-color:#212121; color: white;" href="/page/1" class="page-link navbar-dark side" style="color: white;">Inicio</a></li>';
				document.getElementById('pagination').innerHTML += li;
			}

			//Paginas
			var i = (Number({{ page }}) > 5 ? Number({{ page }}) - 4 : 1);
			if (i !== 1) {
				var li = '<a href="#" style="background-color:#212121; color: white;" class="page-link navbar-dark side">...</a>';
				document.getElementById('pagination').innerHTML += li;
			}
			for(; i<=Number({{page}}) + 4 && i<= {{num_pages}}; i++){
				if(i == {{page}}){
				var li = '<li style="background-color:#212121" class="page-item disabled "><a style="background-color:#212121; color: white;" href="/'+i+'" class="navbar-dark side page-link navbar-dark bg-dark side">'+i+'</a></li>';
				document.getElementById('pagination').innerHTML += li;
				}else{
				var li = '<li class="page-item"><a style="background-color:#212121; color: white;" href="/page/'+i+'" class="page-link navbar-dark side" >'+i+'</a></li>';
				document.getElementById('pagination').innerHTML += li;	
				}
				if(i == Number({{page}}) + 4 && i < {{num_pages}}){
				var li = '<li class="page-item"><a style="background-color:#212121; color: white;" href="#" class="page-link">...</a></li>';
				document.getElementById('pagination').innerHTML += li;	
				}
			}
			//Ultima pagina
			if ({{ num_pages }} == {{ page }}) {
				var li = '<li class="page-item disabled"><a style="background-color:#212121" href="#"  class="page-link navbar-dark side">Fin</a></li>';
				document.getElementById('pagination').innerHTML += li;
			}else {
				var li = '<li class="page-item"><a style="background-color:#212121; color: white;" href="/page/{{num_pages}}"  class="page-link navbar-dark side">Fin</a></li>';
				document.getElementById('pagination').innerHTML += li;
			}
		</script>
	</ul>
</nav>
{{/if}}

<!--Paginación -->

	</div>
	<div class="col dest">
		<hr>
		<div>
			
			<center><a href="/JDespeciales"><img width="100px"; height="100px"; src="https://res.cloudinary.com/jdescargas/image/upload/v1590968875/WhatsApp_Image_2020-05-29_at_10.40_hdrllg.png"></a></center>
			
			
		</div>
		<hr>
		<div>
			<div class="side p-2" style="background:#212121; opacity: 0.8;">
				<span style="color:white">Peliculas destacadas</span>
			</div>
			<hr>
			<div>
				{{#each dest}}
				<a data-toggle="tooltip" title="{{title}}" href="/movies/{{title}}">
				{{#if filename}}
					<img class="" style="border-radius: 10px 10px 10px 10px;
				border: 0px solid #000000; height: 8rem; width: 5rem;
				" src="/upload/{{filename}}" />
				{{else}}
					<img class="" style="border-radius: 10px 10px 10px 10px;
				border: 0px solid #000000; height: 8rem; width: 5rem;
				" src="{{imageURL}}" />
				{{/if}}
				</a>
				{{/each}}
			</div>
		</div>
		<br>
		<div>
			<div class="side p-2" style="background:#212121; opacity: 0.8;">
				<span style="color:white">Redes sociales</span>
			</div>
			<hr>
			<div>
				<a data-toggle="tooltip" title="{{title}}" href="/movies/{{uniqueId}}">
					<img style=" height: 4rem; width: 4rem;" src="/img/facebook.png" /></a>
				<a href="https://www.whatsapp.com/?lang=es"><img style=" height: 4rem; width: 4rem;"
						src="/img/descarga.png" /></a>

			</div>

		</div>
		<br>
		<div>
			<div class="side p-2" style="background:#212121; opacity: 0.8;">
				<span style="color:white">Te puede interesar:</span>
			</div>
			<hr>
			<div>
				<a class="link"  data-toggle="tooltip" href="/posts/download_movies">Como descargar peliculas</a><br>
				<a class="link" href="/posts/download_torrents">Descargar por torrents</a><br>
				<a class="link" href="https://www.whatsapp.com/?lang=es">Descifrar redes wifi</a>
				

			</div>

		</div>
	</div>
</div>

<roW>

</roW>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
	$(document).ready(function () {
		$('[data-toggle="tooltip"]').tooltip();
		
	});



</script>
</div>
