<h1>Sugerencias de usuarios </h1>
<a class="btn btn-dark" href="/">ir a peliculas</a>
<hr>
<div class="col-10">

    {{#if suggestions}}
	<a class="btn btn-light" href="/suggestions/accepted">Sugerencias aceptadas</a>
    <table class="table table-hover table-light">
        <thead>
            <tr>
                </th>
            </tr>
            <tr>
                <th scope="col-2.5"> Nombre</th>
                <th scope="col-2"> Email</th>
                <th scope="col-2.5"> Detalle</th>
            </tr>
        </thead>
        <tbody>


            {{#each suggestions}}
            <tr>
                <td>{{user}}</td>
                <td>
                    {{email}}
                </td>
                <td>
                    <button class="btn btn-light" data-toggle="modal" data-target="#sug"
                        onclick="getElementById('user').innerHTML='{{user}}'; getElementById('date').innerHTML='{{timeago date_add}}'; getElementById('report').innerHTML='{{suggestion}}' ">
                        Detalle</button>
                        <a href="/accept_sug/{{_id}}" class="btn btn-success"><i class="fas fa-check"></i>Aceptar</a>
                        <a href="/decline_sug/{{_id}}" class="btn btn-danger" type="submit"><i class="fas fa-check"></i>Rechazar</a>

                </td>
            </tr>
        </tbody>
        {{/each}}
    </table>
    {{else}}


    <h3>Actualmente no hay reporte de sus peliculas :)</h3>

    {{/if}}


    <!-- Modal reportar pelicula -->
    <div class="modal fade" id="sug" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Detalle de sugerencia </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <b><span id="fec">Fecha de sugerencia: </span></b>Sugerencia recibida <span
                            id="date"></span><br>
                        <b><span id="fec">Usuario: </span></b><span id="user"></span><br>
                        <hr>
                        <label>El usuario sugiere lo siguiente:</label><br>

                        <span id="report"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
        <!--Paginación -->


        <!-- Modal editar -->

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script>
            document.title = 'Peliculas';
            $(document).ready(function () {
                $('[data-toggle="tooltip"]').tooltip();


            });
        </script>
