<html>
<title>JDescargas</title>
<!-- Bootstrap-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<!-- Estilo propio-->
<link rel="stylesheet" type="text/css" href="/css/main.css">
<!--Iconos font-aweasome-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
	integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<link rel="icon" type="image/ico" href="/img/icono.ico" />

<body>
	{{>nav}}
	<br>
	<!--{{> navigation }}-->
	{{#if user.typeuser}}
	{{>sidebar}}

	<main class="container p-4">

		{{>messages}}
		{{>errors}}
		{{{body}}}

	</main </div>

	>
	{{else}}
	<main class="container p-4">
		{{>messages}}
		{{>errors}}
		{{{body}}}

	</main>
	{{/if}}

	<!-- Scripts -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
		crossorigin="anonymous"></script>
	<main class="container p-4">
		<a href=""><i class="fas fa-chevron-up fa-2x" style="color: #191919; position: right; "></i></a>
	</main>
	<div class="side" style="background-color: #191919; height: 200px;">
		<main class="container p-4">
			<div class="row">
				<div class="col">
					<a href="/legal" style="color: cornsilk;" href="">Terminos y condiciones</a><br>
					<a style="color: cornsilk;" href="" data-toggle="modal" data-target="#sugerencia">Sugerencias</a>
				</div>
				<div class="col">
					<h5 style="color: GRAY;" href="">Usuario</h5>
					{{#if user}}
					<a style="color: cornsilk;" href="">Inicio de sesión</a><br>
					<a style="color: cornsilk;" href="">Registro</a>
					{{else}}
					<a style="color: cornsilk;" href="/users/entrar">Inicio de sesión</a><br>
					<a style="color: cornsilk;" href="/users/registrar">Registro</a>
					{{/if}}
				</div>
				<div class="col">
					<h5 style="color: GRAY;" href="">Soporte</h5>
					<a style="color: cornsilk;" href="mailto:jdescargas2020@gmail.com">Contacto</a><br>
					<a style="color: cornsilk;" href="">FAQ</a>
				</div>
			</div>

		</main>
	</div>

</body>

</html>
<!-- Modal -->
<div class="modal fade" id="sugerencia" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalCenterTitle">Sugerencias</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form action="/suggestion" method="POST">
					{{#if user}}
					<input type="hidden" name="name" id="name" value="{{user.name}}">
					<input type="hidden" name="email" id="email" value="{{user.email}}">
					{{else}}
					<div class="form-group">
						<label>Nombre *</label><br>
						<input type="text" class="form-control" placeholder="Nombre" name="name" id="name" autofocus
							required>
					</div>
					<div class="form-group">
						<label>Correo *</label><br>
						<input type="email" class="form-control" placeholder="Correo electronico" name="email"
							id="email" required>
					</div>
					{{/if}}

					<div class="form-group">
						<label>Sugerencia *</label><br>
						<textarea class="form-control" placeholder="Escriba aquí su sugerencia" rows="4"
							name="suggestion" id="suggestion" required></textarea>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-light">Enviar</button>
				</form>
				<button type="button" class="btn btn-dark" data-dismiss="modal">Cerrar</button>

			</div>
		</div>
	</div>
</div>