<div class="row">
    <div class="row">
        <form action="/users/search" method="GET" class="form-inline my-2 my-lg-0">
            <div class="form-group">
                <input style="width:300px" class="form-control mr-sm-2 side" type="search" name="user"
                    placeholder="Buscar usuario" aria-label="Search" autofocus>
                <button data-toggle="tooltip" title="Buscar" class="btn btn-outline-dark my-2 my-sm-0" type="submit"><i
                        class="fas fa-search"></i></button>
            </div>
        </form>
        <hr>
    </div>
</div>
<br>

<div class="row">
    <div class="col-3.5">
    </div>
    <div class="row">
        <div class="col-3.5">
            <a class="btn btn-light" href="/users/registrar">Nuevo usuario</a>
            <a class="btn btn-light" href="/users/regadmin">Nuevo administrador</a>
            <table class="table table-hover table-light">
                <thead>
                    <tr>
                        <th scope="col"> Usuarios</th>
                    </tr>
                </thead>
                <tbody>
 
                {{#if searchuser}}
                    {{#each searchuser}}
                         <tr>
                    <td>{{name}}</td>
                    <td>
                        {{#if typeuser}}
                        <center>
                            <a data-toggle="tooltip" title="Usuario Administrador"><span style="color: gray;"><i
                                        class="fas fa-user-shield"></i></span></a>
                            <a data-toggle="tooltip" title="Mostrar usuario" href="/users/show_user/{{_id}}"><span
                                    style="color: green;"><i class="fas fa-user-check"></i></span></a>
                        </center>
                        {{else}}
                        <a data-toggle="tooltip" title="Usuario normal"><span style="color: gray;"><i
                                    class="fas fa-user-edit"></a></span></i>
                        <a data-toggle="tooltip" href="/users/delete_user/{{_id}}"><span
                                style="color: rgb(248, 0, 0);"><i data-toggle="tooltip" title="Eliminar usuario"
                                    class="fas fa-user-times"></i></span></a>
                        <a data-toggle="tooltip" title="Mostrar usuario" href="/users/show_user/{{_id}}"><span
                                style="color: green;"><i class="fas fa-user-check"></i></span></a>

                        {{/if}}
                    </td>
                    <td>Creado {{timeago date}}</td>
                </tr>

                    {{/each}}
                    </tbody>
                    <a class="btn btn-light" href="/users/all_users/1">Todos los usuarios</a>

                {{else}}


                {{#each all_users}}
                <tr>
                    <td>{{name}}</td>
                    <td>
                        {{#if typeuser}}
                        <center>
                            <a data-toggle="tooltip" title="Usuario Administrador"><span style="color: gray;"><i
                                        class="fas fa-user-shield"></i></span></a>
                            <a data-toggle="tooltip" title="Mostrar usuario" href="/users/show_user/{{_id}}"><span
                                    style="color: green;"><i class="fas fa-user-check"></i></span></a>
                        </center>
                        {{else}}
                        <a data-toggle="tooltip" title="Usuario normal"><span style="color: gray;"><i
                                    class="fas fa-user-edit"></a></span></i>
                        <a data-toggle="tooltip" href="/users/delete_user/{{_id}}"><span
                                style="color: rgb(248, 0, 0);"><i data-toggle="tooltip" title="Eliminar usuario"
                                    class="fas fa-user-times"></i></span></a>
                        <a data-toggle="tooltip" title="Mostrar usuario" href="/users/show_user/{{_id}}"><span
                                style="color: green;"><i class="fas fa-user-check"></i></span></a>

                        {{/if}}
                    </td>
                    <td>Creado {{timeago date}}</td>
                </tr>

                </tbody>

                {{else}}
                {{/each}}
                {{/if}}
            </table>
            {{#if page}}

            <!--Paginacion-->
            <nav class="mx-auto">
                <ul class="pagination nav justify-content-center" id="pagination">

                    <script>
                        //Primera pagina
                        if ({{ page }} == 1) {
                            var li = '<li class="page-item disabled "><a href="#" class="page-link navbar-dark bg-dark side">Inicio</a></li>';
                            document.getElementById('pagination').innerHTML += li;
                        }else {
                            var li = '<li class="page-item"><a href="/users/all_users/1" class="page-link navbar-dark bg-dark side" style="color: white;">Inicio</a></li>';
                            document.getElementById('pagination').innerHTML += li;
                        }

                        //Paginas
                        var i = (Number({{ page }}) > 5 ? Number({{ page }}) - 4 : 1);
                        if (i !== 1) {
                            var li = '<a href="#" class="page-link navbar-dark bg-dark side">...</a>';
                            document.getElementById('pagination').innerHTML += li;
                        }
                        for (; i <= Number({{ page }}) + 4 && i <= {{ num_pages }}; i++) {
                            if (i == {{ page }}) {
                            var li = '<li class="page-item disabled "><a href="/' + i + '" class="navbar-dark bg-dark side page-link navbar-dark bg-dark side">' + i + '</a></li>';
                            document.getElementById('pagination').innerHTML += li;
                        }else {
                            var li = '<li class="page-item"><a href="/users/all_users/' + i + '" class="page-link navbar-dark bg-dark side" style="color: white;">' + i + '</a></li>';
                            document.getElementById('pagination').innerHTML += li;
                        }
                        if (i == Number({{ page }}) + 4 && i < {{ num_pages }}) {
                            var li = '<li class="page-item"><a href="" class="page-link">...</a></li>';
                            document.getElementById('pagination').innerHTML += li;
                        }
			}
                        //Ultima pagina
                        if ({{ num_pages }} == {{ page }}) {
                            var li = '<li class="page-item disabled"><a href="#"  class="page-link navbar-dark bg-dark side">Fin</a></li>';
                            document.getElementById('pagination').innerHTML += li;
                        }else {
                            var li = '<li class="page-item"><a href="/users/all_users/{{num_pages}}" style="color: white;" class="page-link navbar-dark bg-dark side">Fin</a></li>';
                            document.getElementById('pagination').innerHTML += li;
                        }
                    </script>
                </ul>
            </nav>
            {{/if}}

            <!--Paginación -->
        </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        document.title = 'Usuarios';
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();

        });
    </script>